// Small phones and other small devices
$screen-xs-min: 320px;
$screen-xs-max: 360px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 767px;

// Small tablets (portrait view)
$screen-md-min: 768px;
$screen-md-max: 991px;

// Tablets and small desktops
$screen-lg-min: 992px;
$screen-lg-max: 1199px;

// Large tablets and desktops
$screen-xl: 1200px;