$OpenRegular: 'OpenRegular', Arial, sans-serif;
$OpenSemi: 'OpenSemi', Arial, sans-serif;
$OpenBold: 'OpenBold', Arial, sans-serif;
$CL: 'CL', Arial, sans-serif;
$Freestyle: 'Freestyle', Arial, sans-serif;

$nav-active-color: #5e6ddd;
$nav-color: #dddddd;
$nav-logo-color: #7582e2;
$nav-after-color: #5363db;

$secondary-color: #777777;
$sub-color: #e4e4e4;

$hover-img-color: #6a78de;
$btn-color: rgb(91, 108, 235);
$hover-btn-color: rgb(71, 91, 241);

$copyright-bg-color: #5363d8;

$primary-color: rgb(83, 99, 219);
$text-color: rgb(85, 85, 85);
$element-color: rgb(99, 99, 99);
$input-bgc: rgb(242, 242, 242);
$input-text-color: rgb(136, 136, 136);